.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  margin: 2rem;
}

nav {
  padding-top: 1rem;
}

nav a {
  color: coral;
}

div {
  margin: .6rem;
}

img {
  border-radius: 10rem;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: coral;
}